<h2>All Historical Landmarks</h2>

<%@landmarks.all.each do |landmark|%>
  <h3><%=landmark.name%> <%=landmark%></h3>
<%end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
