<h2>Create New Landmark</h2>

<form action="/landmarks" method=POST>
   <label>Name:</label>
   <input type="text" id="landmark[name]" name="landmark[name]">

   <label>Year Completed:</label>
   <input type="text" id="landmark[year]" name="landmark[year]">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
